.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	box-sizing: border-box;
	background-color: #000000ea;
	color: white;
	text-transform: full-width;
    overflow-x: hidden;
    text-align: center;
    font-size: 14pt;
    
}

h1 {
    font-weight: lighter;
    padding: 0;
    margin: 0;
    bottom: -50px;
    
}

p {
    bottom: -150px;
}

a {
    color: #ffffff;
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 2vh 3vw 2vh 3vw;
    bottom: -400px;
    column-span: all;
}

.fade-in {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
  }

  .home_page_list{
    list-style: none;
  }